apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ns-preg-dev.yaml
  - pvc-sqlite.yaml
  - pv-sqlite.yaml

namespace: preg-dev

patches:
  - path: patch-app-deployment.yaml
    target:
      kind: Deployment
      name: pregnant-pills-app

patchesJson6902:
  - target:
      group: ""
      version: v1
      kind: Service
      name: pregnant-pills-service
    patch: |-
      - op: replace
        path: /spec/type
        value: NodePort
      - op: add
        path: /spec/ports/0/nodePort
        value: 30080