resources:
  - ../../base
  - ns-preg-dev.yaml 
  - pvc-sqlite.yaml
  - pv-sqlite.yaml

# wspólny ns dla wszytskich obiektów
namespace: preg-dev

# # wspólna labela dla wszystkich obiektów
# commonLabels:
#   env: dev

# # dodanie prefiksu do wszystkich nazw zasobów
# namePrefix: dev-

patches:
  - path: patch-app-deployment.yaml
    target:
      kind: Deployment
      name: pregnant-pills-app
  - path: patch-app-service.yaml
    target:
      kind: Service
      name: pregnant-pills-service