apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ns-preg-dev.yaml
  - pvc-sqlite.yaml
  - pv-sqlite.yaml

namespace: preg-dev

patches:
  - path: patch-app-deployment.yaml
    target:
      kind: Deployment
      name: pregnant-pills-app
  - path: patch-app-service.yaml
    target:
      kind: Service
      name: pregnant-pills-service
