{% extends 'base.html' %}


{% block content %}


<div class="container_form">
    <div class="content-form">
        <form method="POST">
            {{ html_form.hidden_tag() }}
            <div class="row">
                <div class="col-md-12 title">
                    <h1 class="text-center title">Login</h1>
                    <p  class="text-center des">Please fill out form below</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        {{html_form.email.label}}
                        {{html_form.email(class_="form-control", placeholder="Email")}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        {{html_form.password.label}}
                        {{html_form.password(class_="form-control", placeholder="Password")}}
                    </div>
                </div>
            </div>

            {{ html_form.submit(class_="btn btn-primary mt-5") }}

        </form>
    </div>
</div>


{% endblock %}


