venv/
__pycache__/
static/style_add_user.css
static/style_ex.css
templates/form222.html
static/unused/
fpdf_test.py
add_pill copy.html
list_pill_test.html
pregnant_pills copy.py
forms copy.py
add_pill copy 2.html
