{% extends 'base.html' %}


{% block content %}
<div class="container_list">
    <div class="grid_list">
        <div class="row">
            <div class="col-md-12 title">
                <h1 class="text-center title">List of pills during pregnant</h1>
                <p  class="text-center des">Pills info for user: {{html_current_user.name}} {{html_current_user.surname}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead class="thead-info">
                      <tr>
                          <th scope="col">Type</th>
                          <th scope="col">Name</th>
                          <th scope="col">Amount</th>
                          <th scope="col">Reason</th>
                          <th scope="col">Date start</th>
                          <th scope="col">Date end</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for pill in pills %}
                            <tr>
                                <td>{{ pill.type_pill }}</td>
                                <td>{{ pill.name }}</td>
                                <td>{{ pill.amount }}</td>
                                <td>{{ pill.reason }}</td>
                                <td>{{ pill.date_start }}</td>
                                <td>{{ pill.date_end }}</td>
                                <td>
                                    <a href="#" class="btn btn-primary btn-sm" role="button">Edit</a>
                                    <a href="{{ url_for('pills.del_pill', del_pill_id=pill.id) }}" class="btn btn-danger btn-sm" role="button">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    <div class="row" id="add_button">
        <div class="col-md-12 title">
            <a href="{{ url_for('pills.category_pill') }}" class="btn btn-success btn-md btn_list_pill" role="button">Add another pill</a>
        </div>
    </div>
    <div class="row" id="download">
        <div class="col-md-12 title">
            <h3 class="pdf_info">You can download your pill's list in PDF file below!</h3>
        </div>
    </div>
    <div class="row" id="add_button">
        <div class="col-md-12 title">
            <a href="{{url_for('report_pdf.pdf_create', user_primary_key=html_current_user.id)}}" class="btn btn-success btn-md btn_list_pill" role="button">PDF report</a>
        </div>
    </div>
</div>

{% endblock %}

