{% extends 'base.html' %}


{% block content %}


<div class="container_form">
    <div class="content-form">
        <form method="POST">
            {{form.hidden_tag()}}
            <div class="row">
                <div class="col-md-12 title">
                    <h1 class="text-center title">Add User</h1>
                    <p  class="text-center des">Please fill out form below</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>{{form.name.label}}</label>
                        <input type="text" name="name" class="form-control" value="{{ name }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <a href="{{url_for('add_pill')}}"></a>
                    <input type="submit" value="Add user" class="btn btn-lg btn_user">
                </a>
            </div>
        </form>
    </div>
</div>


{% endblock %}





<div class="jumbotron">
    <h1>Add User</h1>
    <p>Fill out form below to new user.</p>
    <form method="POST">
        {{form.hidden_tag()}}
        {{form.name.label}}{{form.name()}}
        {{form.submit}}
    </form>
</div>