{% extends 'base.html' %}


{% block content %}
<div class="container_form_pills">
    <div class="row">
        <div class="col-md-6">
            <div class="content-form_pills">
                <form method="POST">
                    {{form.hidden_tag()}}
                    <div class="row">
                        <div class="col-md-12 title">
                            <h1 class="text-center title">Add Pills for {{ user.name }} {{ user.surname }}</h1>
                            <p class="text-center des">Fill out form below to add pill to our database.Your user ID: {{user.id}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{form.name.label}}</label>
                                <input type="text" name="name" class="form-control" value="{{ name }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{form.amount.label}}</label>
                                <input type="text" name="amount" class="form-control" value="{{ amount }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <p>Rutine or special?</p>
                                <select name="type_pill" id="type_pill">
                                    <option value="Rutine">Rutine</option>
                                    <option value="Special">Special</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{form.reason.label}}</label>
                                <input type="text" name="reason" class="form-control" value="{{ reason }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{form.week_start.label}}</label>
                                <input type="text" name="week_start" class="form-control" value="{{ week_start }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{form.week_end.label}}</label>
                                <input type="text" name="week_end" class="form-control" value="{{ week_end }}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <a href="#">
                            <input type="submit" value="Add pills" class="btn btn-lg btn_add_pills">
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="img"></div>
        </div>
    </div>
</div>
{% endblock %}

<div class="jumbotron">
    <h1>Add pill which You use during pregnant</h1>
    <p>Fill out form below to add pill to our database.</p>
    <form method="POST">
        {{form.hidden_tag()}}
        {{form.name.label}}{{form.name()}}<br>
        {{form.amount.label}}{{form.amount()}}<br>
        {{form.date_week.label}}{{form.date_week()}}<br>
        {{form.user_id.label}}{{form.user_id()}}<br>
        {{form.submit}}
    </form>
</div>

<div class="col-md-6">
    <div class="form-group">
        <label>{{form.type_pill.label}}</label>
        <input type="text" name="type_pill" class="form-control" value="{{ type_pill }}">
    </div>
</div>