name: Deploy
on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write   # kluczowe dla OIDC
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::<ACCOUNT_ID>:role/gha-deploy-role
          aws-region: eu-central-1

      - name: Who am I
        run: aws sts get-caller-identity

      - name: Deploy to S3
        run: aws s3 sync ./dist s3://<BUCKET_NAME>/ --delete
