name: CI_CD
on: 
  workflow_dispatch: 
    inputs:
      environment:
        description: " Choose dev/test/prod environment"
        required: false
        default: "dev"
  push:
    paths-ignore:
      - .github/workflows/*

env:
  DEPLOY_ENV:  ${{ github.event.inputs.environment || 'dev' }}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint 
          pip install -r requirements.txt
      - name: Lint
        run: |
          pylint pregnant_pills_app/--max-line-length=88
      - name: Check formatting with Black
        run: |
          black --check pregnant_pills_app/
        

  test:
    runs-on: ubuntu-latest
    need: [lint]
    steps:
      - name: Get code
        uses: actions/checkout@v4
      - name: Install python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run tests
        run: |
          pytest
      
  terraform_infra:
    runs-on: ubuntu-latest
    needs: [lint, test]
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Get code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5

      - name: Configure AWS credentials via OIDC (Terraform role)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/gha-terraform-role
          aws-region: ${{ vars.AWS_REGION }}

      - name: Who am I
        run: aws sts get-caller-identity

      - name: Initialize Terraform
        working-directory: infra/terraform
        run: terraform init

      - name: Terraform Plan
        working-directory: infra/terraform
        run: terraform plan

      # Only on production
      - name: Terraform Apply
        if: github.event.inputs.environment == 'prod'
        working-directory: infra/terraform
        run: terraform apply -auto-approve

  build-push-docker-image:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v4
      - name: Install Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker image
        run: |
            docker build -t pregnant-pills-app:latest .
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push Docker image to Docker Hub
        run: |
          docker tag pregnant-pills-app:latest ${{ secrets.DOCKER_USERNAME }}/pregnant-pills-app:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/pregnant-pills-app:latest
      

  deploy_s3:
    runs-on: ubuntu-latest
    needs: [lint, test, terraform_infra]
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/gha-deploy-role
          aws-region: ${{ vars.AWS_REGION }}

      - name: Who am I
        run: aws sts get-caller-identity

      - name: Deploy to S3
        run: aws s3 sync ./dist s3://${{ vars.BUCKET_NAME }}/ --delete

  deploy_kubernetes:
    runs-on: ubuntu-latest
    needs: [lint, test, terraform_infra, build-push-docker-image]

    steps:
      - name: Get code
        uses: actions/checkout@v4

      - name: Install kubectl binary on runner and add to PATH
        uses: azure/setup-kubectl@v4
        with: 
          version: 'v1.29.0'
          # jeśli klaster ma v1.28, to kubectl może być v1.28.x lub v1.29.x.

      - name: Install Kustomize on runner
        run: |
          curl -s "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh" | bash
          sudo mv kustomize /usr/local/bin/

      - name: Get secrets from Github Secrets
        run: |
          echo "POSTGRES_USER_B64=$(echo -n ${{ secrets.POSTGRES_USER }}| base64)" >> GITHUB_ENV
          echo "POSTGRES_PASS_B64=$(echo -n ${{ secrets.POSTGRES_PASS }} | base64)" >> $GITHUB_ENV
          echo "RDS_USER_B64=$(echo -n ${{ secrets.RDS_USER }}| base64)" >> GITHUB_ENV
          echo "RDS_PASS_B64=$(echo -n ${{ secrets.RDS_PASS }} | base64)" >> $GITHUB_ENV
        # $GITHUB_ENV do ustawiania zmiennych środowiskowych na czas trwania joba
      
      - name: Deploy  cluster infrastructure 
        run: |
          kubectl apply -k infrastructure/ingress-nginx
          kubectl apply -k infrastructure/cert-manager
          kubectl apply -k infrastructure/namespace

      - name: Deploy Flask app
        run: |
          kubectl apply -k k8s-preg/overlays/$DEPLOY_ENV