@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

#mainNav{
    background-color: lightcoral;
}

.htop{
    position: relative;
    padding: 7% 0 30% 0;
    width: 100%;
    text-align: center;
    background-image: url("../files/img/main/finance.jpg") ;
    background-size: cover;
    background-position: 90% 50% 0 50%;
    min-height: auto;
    color:rgb(63, 131, 146);
}

.info{
    width: 60%;
}

.pill_logo{
    color:rgb(63, 131, 146);
}

.btn_start{
    transition: all 0.5s ease-in-out;
    font-size: 1em;
    letter-spacing: 0.1em;
    padding: 1%;
    margin-top: 0%;
    border-radius: 50px;
    background: rgb(63, 131, 146);
    color: white;
    border-color: rgb(63, 131, 146);
    width: 10%;
    min-width: 100px;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}

#footer{
    background-color: rgb(63, 131, 146);
}

/* Add user */

.container_form{
    background-image: url("../files/img/user/pregnant2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.content-form{
    position: relative;
    padding: 8% 4%;
    top: 10%;
    left: 0%;
    max-width: 40%;
    height: auto;
    background-color: rgba(106, 103, 103, 0.5);
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}

.title h1{

    color: rgb(63, 131, 146);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.title p{

    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

label{
    color: white;
    margin-top: 5%;
}

.form-control{
    background: transparent;
    border-color: transparent;
    border-bottom: 1px solid rgb(63, 131, 146);
}

.form-control:focus{
    background: transparent;
    border-color: rgb(63, 131, 146);
    box-shadow: 1px 1px 1px rgb(63, 131, 146) inset, 1px 1px 1px rgb(63, 131, 146);
}


.btn_user{
    transition: all 0.5s ease-in-out;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 2% 3%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 50px;
    background: rgb(63, 131, 146);
    color: white;
    border-color: rgb(63, 131, 146);
    width: 30%;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}

.btn:hover{
    background: white;
    color: rgb(63, 131, 146);
    border-color: white;
}

/* Add pills */
.container_form_pills{
    background-image: url("../files/img/pills/pills2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.content-form_pills{
    position: relative;
    padding: 15%;
    top: 0%;
    left: 0%;
    max-width: 100%;
    height: auto;
    background-color: rgba(106, 103, 103, 0.5);
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}
.info_user{
    color: white;
    text-transform: uppercase;
    margin-top: 8%;
    text-align: center;
}

#special{
    margin-left: 35%;
}

#btn_nadd_pills{
    transition: all 0.5s ease-in-out;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 2% 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 50px;
    background: rgb(63, 131, 146);
    color: white;
    border-color: rgb(63, 131, 146);
    width: 100%;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}

#btn_nadd_pills:hover{
    background: white;
    color: rgb(63, 131, 146);
    border-color: white;
}

#btn_ladd_pills{
    transition: all 0.5s ease-in-out;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 2% 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 50px;
    background: lightcoral;
    color: white;
    border-color: lightcoral;
    width: 100%;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}

#btn_ladd_pills:hover{
    background: white;
    color: lightcoral;
    border-color: white;
}

/* Remove pills */
.container_form_del{
    background-image: url("../files/img/pills/pills3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.content-form_del{
    position: relative;
    padding: 15%;
    top: 0%;
    left: 0%;
    max-width: 80%;
    height: auto;
    background-color: rgba(106, 103, 103, 0.5);
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}

.btn_remove_pills{
    transition: all 0.5s ease-in-out;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 8% 8%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 50px;
    background: rgb(63, 131, 146);
    color: white;
    border-color: rgb(63, 131, 146);
    width: 200%;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}

.btn_add_pills:hover{
    background: white;
    color: rgb(63, 131, 146);
    border-color: white;
}

/* List pills */
.container_list{
    background-image: url("../files/img/list/list2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.grid_list{
    position: relative;
    padding: 2%;
    top: 0%;
    left: 10%;
    max-width: 80%;
    height: auto;
    background-color: rgba(106, 103, 103, 0.5);
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}

.btn_pdf{
    transition: all 0.5s ease-in-out;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 8% 0%;
    margin-top: 50%;
    border-radius: 50px;
    background: rgb(63, 131, 146);
    color: white;
    border-color: rgb(63, 131, 146);
    width: 200%;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}

.btn_pdf:hover{
    background: white;
    color: rgb(63, 131, 146);
    border-color: white;
}

.list-group-item{
    color: white;
    background: transparent;
    border-color: rgb(63, 131, 146);
    box-shadow: 1px 1px 1px rgb(63, 131, 146) inset, 1px 1px 1px rgb(63, 131, 146);
}

.pdf_info{
    color: rgb(63, 131, 146);
}

#add_button{
    position: relative;
    top: 1%;
    left: 45%;
    max-width: 40%;
}

#download{
    position: relative;
    margin-top: 5%;
    top: 5%;
    left: 20%;
    max-width: 80%;
    color: white;
}

#pdf_button{
    position: relative;
    top: 1%;
    left: 45%;
    max-width: 40%;
}

.btn_list_pill{
    max-width: 40%;
}
/* User info */
.content{
    background-image: url("../files/img/user/user.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.user{
    position: relative;
    padding: 10%;
    top: 0%;
    left: 10%;
    max-width: 40%;
    height: auto;
    background-color: rgba(106, 103, 103, 0.5);
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    color:white;
}

/* All User list */
#users_list{
    background-image: url("../files/img/list/list3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: rgb(63, 131, 146);
}

#all_users{
    position: relative;
    padding: 10%;
    top: 0%;
    left: 10%;
    max-width: 40%;
    height: auto;
    background-color: rgba(106, 103, 103, 0.5);
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    color:white;
}

.btn_user_info{
    transition: all 0.5s ease-in-out;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    padding: 1%;
    margin-top: 0%;
    border-radius: 50px;
    background: white;
    color: rgb(63, 131, 146);
    border-color: white;
    width: 10%;
    min-width: 100px;
    margin-bottom: 5%;
}

.btn_add_pill{
    transition: all 0.5s ease-in-out;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    padding: 1%;
    margin-top: 0%;
    border-radius: 50px;
    background: rgb(63, 131, 146);
    color: white;
    border-color: rgb(63, 131, 146);
    width: 10%;
    min-width: 100px;
    margin-bottom: 5%;
}

.name_user{
    color: rgb(63, 131, 146);
    font-size: 1.6em;
    letter-spacing: 0.1em;
    text-transform: capitalize;
}

.flash_messages_style{
    color: rgb(63, 131, 146);
    text-align: center;
}

/* Error page */
.error{
    position: relative;
    padding: 7% 0 30% 0;
    width: 100%;
    text-align: center;
    background-image: url("../files/img/errors/error.jpg") ;
    background-size: cover;
    background-position: 90% 50% 0 50%;
    min-height: auto;
    color:white;
    text-decoration: none;
}


.btn_white{
    transition: all 0.5s ease-in-out;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding: 1%;
    margin-top: 0%;
    border-radius: 50px;
    background: white;
    color: rgb(63, 131, 146);
    width: 20%;
    min-width: 100px;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}

/* Tables */

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #858796;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #e3e6f0;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e3e6f0;
  }
  
  .table tbody + tbody {
    border-top: 2px solid #e3e6f0;
  }
  
  .table-sm th,
  .table-sm td {
    padding: 0.3rem;
  }
  
  .table-bordered {
    border: 1px solid #e3e6f0;
  }
  
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #e3e6f0;
  }
  
  .table-bordered thead th,
  .table-bordered thead td {
    border-bottom-width: 2px;
  }
  
  .table-borderless th,
  .table-borderless td,
  .table-borderless thead th,
  .table-borderless tbody + tbody {
    border: 0;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .table-hover tbody tr:hover {
    color: #858796;
    background-color: rgba(0, 0, 0, 0.075);
  }
  
  .table-primary,
  .table-primary > th,
  .table-primary > td {
    background-color: #cdd8f6;
  }
  
  .table-primary th,
  .table-primary td,
  .table-primary thead th,
  .table-primary tbody + tbody {
    border-color: #a3b6ee;
  }
  
  .table-hover .table-primary:hover {
    background-color: #b7c7f2;
  }
  
  .table-hover .table-primary:hover > td,
  .table-hover .table-primary:hover > th {
    background-color: #b7c7f2;
  }
  
  .table-secondary,
  .table-secondary > th,
  .table-secondary > td {
    background-color: #dddde2;
  }
  
  .table-secondary th,
  .table-secondary td,
  .table-secondary thead th,
  .table-secondary tbody + tbody {
    border-color: #c0c1c8;
  }
  
  .table-hover .table-secondary:hover {
    background-color: #cfcfd6;
  }
  
  .table-hover .table-secondary:hover > td,
  .table-hover .table-secondary:hover > th {
    background-color: #cfcfd6;
  }
  
  .table-success,
  .table-success > th,
  .table-success > td {
    background-color: #bff0de;
  }
  
  .table-success th,
  .table-success td,
  .table-success thead th,
  .table-success tbody + tbody {
    border-color: #89e2c2;
  }
  
  .table-hover .table-success:hover {
    background-color: #aaebd3;
  }
  
  .table-hover .table-success:hover > td,
  .table-hover .table-success:hover > th {
    background-color: #aaebd3;
  }
  
  .table-info,
  .table-info > th,
  .table-info > td {
    background-color: #c7ebf1;
  }
  
  .table-info th,
  .table-info td,
  .table-info thead th,
  .table-info tbody + tbody {
    border-color: #96dbe4;
  }
  
  .table-hover .table-info:hover {
    background-color: #b3e4ec;
  }
  
  .table-hover .table-info:hover > td,
  .table-hover .table-info:hover > th {
    background-color: #b3e4ec;
  }
  
  .table-warning,
  .table-warning > th,
  .table-warning > td {
    background-color: #fceec9;
  }
  
  .table-warning th,
  .table-warning td,
  .table-warning thead th,
  .table-warning tbody + tbody {
    border-color: #fadf9b;
  }
  
  .table-hover .table-warning:hover {
    background-color: #fbe6b1;
  }
  
  .table-hover .table-warning:hover > td,
  .table-hover .table-warning:hover > th {
    background-color: #fbe6b1;
  }
  
  .table-danger,
  .table-danger > th,
  .table-danger > td {
    background-color: #f8ccc8;
  }
  
  .table-danger th,
  .table-danger td,
  .table-danger thead th,
  .table-danger tbody + tbody {
    border-color: #f3a199;
  }
  
  .table-hover .table-danger:hover {
    background-color: #f5b7b1;
  }
  
  .table-hover .table-danger:hover > td,
  .table-hover .table-danger:hover > th {
    background-color: #f5b7b1;
  }
  
  .table-light,
  .table-light > th,
  .table-light > td {
    background-color: #fdfdfe;
  }
  
  .table-light th,
  .table-light td,
  .table-light thead th,
  .table-light tbody + tbody {
    border-color: #fbfcfd;
  }
  
  .table-hover .table-light:hover {
    background-color: #ececf6;
  }
  
  .table-hover .table-light:hover > td,
  .table-hover .table-light:hover > th {
    background-color: #ececf6;
  }
  
  .table-dark,
  .table-dark > th,
  .table-dark > td {
    background-color: #d1d1d5;
  }
  
  .table-dark th,
  .table-dark td,
  .table-dark thead th,
  .table-dark tbody + tbody {
    border-color: #a9aab1;
  }
  
  .table-hover .table-dark:hover {
    background-color: #c4c4c9;
  }
  
  .table-hover .table-dark:hover > td,
  .table-hover .table-dark:hover > th {
    background-color: #c4c4c9;
  }
  
  .table-active,
  .table-active > th,
  .table-active > td {
    background-color: rgba(0, 0, 0, 0.075);
  }
  
  .table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }
  
  .table-hover .table-active:hover > td,
  .table-hover .table-active:hover > th {
    background-color: rgba(0, 0, 0, 0.075);
  }
  
  .table .thead-dark th {
    color: #fff;
    background-color: #5a5c69;
    border-color: #6c6e7e;
  }
  
  .table .thead-light th {
    color: #6e707e;
    background-color: #eaecf4;
    border-color: #e3e6f0;
  }
  
  .table-dark {
    color: #fff;
    background-color: #5a5c69;
  }
  
  .table-dark th,
  .table-dark td,
  .table-dark thead th {
    border-color: #6c6e7e;
  }
  
  .table-dark.table-bordered {
    border: 0;
  }
  
  .table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
  }
  
  .table-dark.table-hover tbody tr:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.075);
  }
  
  @media (max-width: 575.98px) {
    .table-responsive-sm {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    .table-responsive-sm > .table-bordered {
      border: 0;
    }
  }
  
  @media (max-width: 767.98px) {
    .table-responsive-md {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    .table-responsive-md > .table-bordered {
      border: 0;
    }
  }
  
  @media (max-width: 991.98px) {
    .table-responsive-lg {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    .table-responsive-lg > .table-bordered {
      border: 0;
    }
  }
  
  @media (max-width: 1199.98px) {
    .table-responsive-xl {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    .table-responsive-xl > .table-bordered {
      border: 0;
    }
  }
  
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .table-responsive > .table-bordered {
    border: 0;
  }
  